<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA for  WTX#1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NCX1BDSTBTQVQx
					</data>
					<key>Replace</key>
					<data>
					X1NCX1BDSTBTQVRB
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA for  WTX#2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQhfQURSDAIAHwA=
					</data>
					<key>Replace</key>
					<data>
					U0FUQQhfQURSDAIAHwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA for  WTX#3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQhfQURSDAAAFwA=
					</data>
					<key>Replace</key>
					<data>
					U0FUQQhfQURSDAAAFwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC #1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQhf
					</data>
					<key>Replace</key>
					<data>
					WEhDXwhf
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC #2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFhIQ0k=
					</data>
					<key>Replace</key>
					<data>
					UENJMFhIQ18=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6A to XQ6A(FN+F4)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2QQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2QQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14(FN+F6 Brightness up)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15(FN+F5 Brightness down)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q19 to XQ19(Vantage)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExOQ==
					</data>
					<key>Replace</key>
					<data>
					WFExOQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(shut)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK09 to ZWAK09(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIF03 to XBIF03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBST04 to XBST04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIX03 to XBIX03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJWAM=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBMN to BMNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JNTkA=
					</data>
					<key>Replace</key>
					<data>
					Qk1OWEA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBDN to BDNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JETkA=
					</data>
					<key>Replace</key>
					<data>
					QkROWEA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery _L17 to XL17</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wxNw==
					</data>
					<key>Replace</key>
					<data>
					WEwxNw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery OWAK01 to OWAX01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					T1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					T1dBWAE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0d04 to _PRW 00(HDEF IBGE )</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIGAgoNCgQ=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIGAgoNCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0d03 to _PRW 00(eh1 eh2 xhc)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIdAwoNCgM=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIdAwoNCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 6d04 to _PRW 00(IBGE ) for X260 T440</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIGAgptCgQ=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIGAgptCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 6d03 to _PRW 00(xhc) for X260 T440S 470S</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIdAwptCgM=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIdAwptCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 6d03 to _PRW 00(xhc Ehc1) for T440</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIVAwptCgM=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIVAwptCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPRW to ZPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WlBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>UPRW to WPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBSVwpwEg==
					</data>
					<key>Replace</key>
					<data>
					V1BSVwpwEg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable SD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1JNVgCkCgE=
					</data>
					<key>Replace</key>
					<data>
					X1JNVgCkCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LID0 to LID_</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					TElEMA==
					</data>
					<key>Replace</key>
					<data>
					TElEXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBU to SBUS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVQ==
					</data>
					<key>Replace</key>
					<data>
					U0JVUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HECI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGBE to GLAN</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SUdCRQ==
					</data>
					<key>Replace</key>
					<data>
					R0xBTg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					S0JEXw==
					</data>
					<key>Replace</key>
					<data>
					UFMySw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBC0 to PS2K</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					S0JDMA==
					</data>
					<key>Replace</key>
					<data>
					UFMySw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ACAD to AC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QUNBRA==
					</data>
					<key>Replace</key>
					<data>
					QUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_LID to XLID</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0xJRACg
					</data>
					<key>Replace</key>
					<data>
					WExJRACg
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ESEL to ZSEL</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WlNFTAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XSEL to ZSEX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WlNFWAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XWAK to ZWAK</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WldBSwg=
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hkJBVDAK
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMK
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hkJBVDEK
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMK
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCoE=
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCoE=
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCgE=
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCgE=
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCgM=
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q16 to XQ16(FN+F7)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNg==
					</data>
					<key>Replace</key>
					<data>
					WFExNg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q64 to XQ64(FN+F8)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2NA==
					</data>
					<key>Replace</key>
					<data>
					WFE2NA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q66 to XQ66(FN+F9)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Ng==
					</data>
					<key>Replace</key>
					<data>
					WFE2Ng==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q60 to XQ60(FN+F10)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2MA==
					</data>
					<key>Replace</key>
					<data>
					WFE2MA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q61 to XQ61(FN+F11)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2MQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2MQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q62 to XQ62(FN+F12)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Mg==
					</data>
					<key>Replace</key>
					<data>
					WFE2Mg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q63 to XQ63(FN+Tab)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Mw==
					</data>
					<key>Replace</key>
					<data>
					WFE2Mw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q65 to XQ65(FN+PrtSc)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2NQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2NQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q2B to XQ2B(Wake)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EyQg==
					</data>
					<key>Replace</key>
					<data>
					WFEyQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GPI0._STA to GPI0.XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NUQQCgCZNT
					</data>
					<key>Replace</key>
					<data>
					WFNUQQCgCZNT
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GPIO _CRS return</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					U0JGQlNCRkk=
					</data>
					<key>Replace</key>
					<data>
					U0JGQlNCRkc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SYNA2393 to SYNA0000</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					U1lOQTIzOTM=
					</data>
					<key>Replace</key>
					<data>
					U1lOQTAwMDA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TPD0._STA to TPD0.XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					ABQlX1NUQQA=
					</data>
					<key>Replace</key>
					<data>
					ABQlWFNUQQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPI0._STA to GPI0.XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					IV9TVEEAoAuTU0JS
					</data>
					<key>Replace</key>
					<data>
					IVhTVEEAoAuTU0JS
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LSTA to XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					TFNUQQk=
					</data>
					<key>Replace</key>
					<data>
					WFNUQQk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XXXX0000 to SYNA2393</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					WFhYWDAwMDA=
					</data>
					<key>Replace</key>
					<data>
					U1lOQTIzOTM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GLAN._DSM to GLAN.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BgAfABQcX0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					BgAfABQcWERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDEF._DSM to HDEF.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					ARRAE19EU00=
					</data>
					<key>Replace</key>
					<data>
					ARRAE1hEU00=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IMEI._DSM to IMEI.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FgAUHF9EU00=
					</data>
					<key>Replace</key>
					<data>
					FgAUHFhEU00=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPCB._DSM to LPCB.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UgwAAB8AFBxfRFNN
					</data>
					<key>Replace</key>
					<data>
					UgwAAB8AFBxYRFNN
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RP0X._DSM to RP0x.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQwIX1RfMACg
					</data>
					<key>Replace</key>
					<data>
					WERTTQwIX1RfMACg
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SATA._DSM to SATA.XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					ABRNBF9EU00=
					</data>
					<key>Replace</key>
					<data>
					ABRNBFhEU00=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TPD0._DSM to TPD0.XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					CgMUOl9EU00=
					</data>
					<key>Replace</key>
					<data>
					CgMUOlhEU00=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>TbtTypeC</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ProjSsdt</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0 -xcpm nv_disable=1 kext-dev-mode=1</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>Detect</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAWWQ==
				</data>
				<key>device-id</key>
				<data>
				FlkAAA==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-alldata</key>
				<data>
				AQUJAAAIAACHAQAA/wAAAAAAAQAAAAAAAAD/AAAAAQAA
				AAAAAAAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-pipecount</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>maverickslogin</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle HWP of boot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MatchOS</key>
				<string>10.11.x+</string>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel (c) vit9696</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				sABMi1Xw
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				SIPEQF3D
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.14 (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dkZI/wX8awg=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14,10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				60ZI/wX8awg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>亮度补丁 for AppleBacklightInjector.kext</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>volume slider sync, by wern</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				a3Bzaes=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>
				Y2ltaes=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>BCM94352 - 5G - #a</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				ZscGI2HrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP141.88Z.F000.B00.1809171524</string>
		<key>Board-ID</key>
		<string>Mac-B4831CEBD52A0C4C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02705310J9HWVPJA</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>184.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
